:root {
  --Darkblueishblack: #17132c;
  --Darkblueishblackopaque: #17132cc7;
  --Brightneongreen: #78d400;
  --Smokewhite: #afafaf;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

h1 {
  font-family: "Cornerstone", Monospace;
  font-size: 110px;
}

a {
  color: black;
  font-size: 25px;
}

#Hero-Heading {
  color: var(--Darkblueishblack);
}


.Border-dashed {
  border-width: 1px;
  border-style: dashed;
}

.Section-Container {
  max-width: 1400px;
  margin: auto;
  min-height: max-content;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: Cornerstone;
  src: url(Cornerstone.ttf);
}

/* ---------------------------------------------------- Nav-Bar ---------------------------------------------------- */
.navbar {
  position: sticky;
  display: block;
  top: 0;
  width: 100%;
  z-index: 2;
  text-align: right;
  border-bottom: #fff;
  border-style: solid;
  border-width: 1px;
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  background: var(--Darkblueishblackopaque);
}

.logo {
  width: 25%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  text-align: left;
  padding: 15px 15px;
  display: inline-block;
}

.menu-area li {  display: inline-block; }

.menu-area a {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 15px 15px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  text-decoration: none;
}

.menu-area a:hover {
  background: var(--Brightneongreen);
  color: var(--Darkblueishblack);
}

/* ---------------------------------------------------- Footer ---------------------------------------------------- */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  padding-top: 20px;
  padding-bottom: 80px;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1500px) {
    .contain {
      width: 1400px;
      margin: 0 auto;
    }
  }
@media only screen and (max-width: 1280px) {
  .contain {
    width: 1100px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
