.Socials-container {
  width: 450px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
}

.Contact-me-container {
  display: grid;
  /* justify-content: center; */
  margin-top: 50px;
  text-align: left;
  width: 100%;
}

.Contact-me-Header {
  font-size: 36px;
  background-color: var(--MainColor);
  color: var(--BGBright);
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.Contact-me-input {
  height: 55px;
  min-width: 100%;
  max-width: 300px;
  min-height: 55px;
  border-radius: 8px;
  border-color: var(--MainColor);
  background-color: var(--BGBright);
  padding-left: 15px;
  font-size: 18px;
  color: var(--MainColor);
}

.Contact-me-input:focus {
  background-color: var(--BrightText);
}

.Contact-me-input-label {
  float: left;
  position: absolute;
  top: -15px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 3px 0px 3px var(--BGBright);
  -moz-box-shadow: 0px 3px 0px 3px var(--BGBright);
  box-shadow: 0px 3px 0px 3px var(--BGBright);
  padding: 1px 3px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--MainColor);
  background-color: var(--BGBright);
}

.Contact-me-input-container {
  display: grid;
  position: relative;
  gap: 10px;
  margin-top: 15px;
  text-align: end;
  row-gap: 25px;
}

.Contact-me-button {
  width: 100%;
  margin-top: 0px;
}

.image-container {
  text-align: center;
  width: 100%;
}

.Profile-Pic {
  margin-top: 11vh;
  max-width: 100%;
  height: 250px;
  border-radius: 10%;
  border-style: solid;
  border-width: 4px;
  border-color: var(--MainColor);
  box-shadow: 10px 10px 0px var(--MainColor);
}

.links-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 25px;
  row-gap: 25px;
  /* justify-items: center; */
  align-items: center;
  justify-content: space-around;
  margin-top: 35px;
}

.Socials-Name-Label {
  font-size: 30px;
}

.Socials-Guide-Label {
  font-size: 20px;
  border-radius: 4px;
  background-color: var(--MainColor);
  color: var(--BGBright);
}

.link {
  min-width: 50% !important;
}

@media (min-width: 1200px) {
  .Socials-container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .Socials-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .Socials-container {
    max-width: 720px;
  }

  .link {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .Socials-container {
    max-width: 540px;
  }
}
