.Tech-we-Use {
  justify-content: center;
}

.TWU-section {
  min-height: max-content;
  padding-top: 60px;
  padding-bottom: 80px;
}

#TWU-Header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 800;
  word-break: break-word;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

.TWU-grid-for-boxes {
  height: max-content;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.TWU-grids {
  height: 100%;
  width: 100%;
}

.TWU-grids-in {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  height: 100%;
}

.TWU-Tech-Box {
  display: table-cell;
  height: 250px;
  width: 300px;
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  vertical-align: middle;
}

.TWU-Tech-Box:hover {
  background-color: blue;
}

.TWU-Box-3 {
  padding-top: 0px;
}

.TWU-Box-Text {
  display: block;
}

.TWU-Tech-Box-div {
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  vertical-align: middle;
}

.TWU-Tech-Box-div a {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.TWU-Tech-Box-Title-div {
  margin-top: 15px;
  padding-left: 5px;
}

.TWU-Tech-Box-Title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
