.Hero {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  height: 800px;
  margin-top: 20px;
}
.Hero-Grid-Container {
  height: 100%;
  max-width: 1400px;
  display: grid;
  gap: 90px;
  grid-template-columns: 1fr 1fr;
}

.Hero-Item {
  vertical-align: middle;
}

.Hero-Message {
  display: block;
  align-items: left;
}

.Hero-Button {
  height: 90px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: auto 0 auto 0;
  text-align: center;
  background-color: var(--Darkblueishblack);
  color: var(--Smokewhite);
  font-size: 32px;
  font-weight: bold;
  border: 0;
}

.Hero-Button:hover{
  background: var(--Brightneongreen);
  color: var(--Darkblueishblack);
}

.card {
  position: relative;
  max-height: 800px; 
  overflow: hidden;
  border-radius: 10px;
  display: block;
  border-bottom: var(--Darkblueishblack);
  border-style: solid;
  border-width: 2px;
  padding-top: 30px;;
}

img {
  height: 100%;
  width: auto;
  max-height: 700px;
  max-width: 500px;
  object-fit: cover;
  object-position: 75%;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.container {
  position: relative;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  color: var(--Darkblueishblack);
  padding: 2px 16px;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 0px 0px 25px 25px;
}

.Hero-Card-div{
  height: 100%;
  overflow: hidden;
  display: block;

}

#text1{
  font-size: 30px;
  font-weight:bold;
  margin: 5px;
}
.container p{
  margin: 5px;
}

#text3{
  font-size: 25px;
  margin: auto;
}