.Hero {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 80px;
  position: absolute;
  height: 700px;
  overflow: hidden;
}

.Hero-Grid-Container {
  max-width: 1300px;
  display: grid;
  gap: 4.5rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 0.9fr 0.1fr;
  grid-template-areas:
    "one two"
    "three two";
  height: 100%;
}

.Hero-Item {
  text-align: center;
  vertical-align: middle;
}

.Item1 {
  grid-area: one;
}

.Hero-Card-div {
  grid-area: two;
}

.Hero-Buttons-div {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "button1 button2";
  gap: 1rem;
}

.Hero-Button {
  height: 60px;
  width: 100%;
  border-radius: 10px;
  margin: auto 0 auto 0;
  text-align: center;
  background-color: var(--Brightneongreen);
  font-size: 20px;
  border: 0;
}

.find-talent-button {
  grid-area: button1;
}
.find-work-button {
  grid-area: button2;
  background-color: var(--Smokewhite);
  border: 4px solid var(--Brightneongreen);
}

.card {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: relative;
  display: block;
  overflow: hidden;
}

.card:hover {
}

img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: 75%;
  border-radius: 5px 5px 0 0;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.384);
  color: darkgray;
  padding: 2px 16px;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
}

/* @media (min-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (min-width: 768px) {
} */
