@media (min-width: 900px) {
  .Hero {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    position: absolute;
  }
  .Hero-Grid-Container {
    height: 100%;
    display: grid;
    gap: 0.5rem;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-areas:
      "one"
      "three"
      "two";
  }
  .Hero-Buttons-div {
    display: grid;
    grid-template-areas:
      "button1"
      "button2";
    gap: 1rem;
  }
}

@media (min-width: 1200px) {
  .Hero {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    position: absolute;
    height: 700px;
  }
  .Hero-Grid-Container {
    height: 100%;
    max-width: 1300px;
    display: grid;
    gap: 4.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: 0.9fr 0.1fr;
    grid-template-areas:
      "one two"
      "three two";
  }
  .Hero-Buttons-div {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "button1 button2";
    gap: 1rem;
  }
}

.Hero-Item {
  text-align: center;
  vertical-align: middle;
}

.Hero-Heading-and-message {
  grid-area: one;
  display: block;
  justify-content: center;
  align-items: center;
}

.Hero-Card-div {
  grid-area: two;
}

.Hero-Button {
  height: 60px;
  width: 100%;
  border-radius: 10px;
  margin: auto 0 auto 0;
  text-align: center;
  background-color: var(--Brightneongreen);
  font-size: 20px;
  border: 0;
}

.find-talent-button {
  grid-area: button1;
}
.find-work-button {
  grid-area: button2;
  background-color: var(--Smokewhite);
  border: 4px solid var(--Brightneongreen);
}

.card {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: relative;
  display: block;
}

img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: 75%;
  border-radius: 5px 5px 0 0;
  border-radius: 25px;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #00000062;
  color: #a9a9a9;
  padding: 2px 16px;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 0px 0px 25px 25px;
}
