.navbar {  width: 100%; }

nav {
  position: sticky;
  top: 0;
  background: #000000cc;
  z-index: 1;
  text-align: right;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.404);
}

.logo {
  width: 25%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  text-align: left;
  padding: 15px 15px;
  display: inline-block;
}

.menu-area li {  display: inline-block; }

.menu-area a {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 15px 15px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.menu-area a:hover {
  background: var(--textcolorbright);
  color: var(--backgroundcolordark);
}