:root{
  --backgroundcolordark: #17132c;
  --textcolorbright: #78d400;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundcolordark);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  display: flex;
  min-height: 150vh;
  margin: 0;
  padding: 0;
}

ul{margin: 0;}

h1{
  font-family: "Cornerstone", Monospace;
  font-size: 110px;
}
#Hero-Heading{
  color: var(--textcolorbright); 
}

@font-face {
  font-family: Cornerstone;
  src: url(Cornerstone.ttf);
}