:root{
  --Darkblueishblack: #17132c;
  --Brightneongreen: #78d400;
  --Smokewhite: #afafaf;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--Smokewhite);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  display: flex;
  min-height: 150vh;
  margin: 0;
  padding: 0;
}

ul{margin: 0;}

h1{
  font-family: "Cornerstone", Monospace;
  font-size: 110px;
}

a{
  color: var(--Darkblueishblack);
  font-size: 25px;
}

#Hero-Heading{
  color: var(--Darkblueishblack); 
}

@font-face {
  font-family: Cornerstone;
  src: url(Cornerstone.ttf);
}